{% extends "template.html.twig" %}

{% block body %}
  

  <table class="table">
  {% for note in notes %}
    <tr>
      <td>{{ note }}</td>
   </tr>
  {% endfor %}
   
</table> 
  <div class="alert alert-info" role="alert">
        <p>Nombre de notes :{{ notes | length }}</p>
        <p>Note Minimale :{{ min(notes) }}</p>
        <p>Note Maximale :{{ max(notes) }}</p>
 </div>
{% endblock %}
