<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<div class="btn-group-vertical" role="group" aria-label="">
    <p>Aujourd'hui C'est le : {{ "now" | date("d/m/Y") }}.</p>
    <h1>{{ prenom | capitalize }} {{nom | capitalize}}</h1>
 
</div>
<h1>Aziz est un Développeur Web Mobile</h1>
<p>Etudiant en Sécurité Informatique</p>

</body>
</html>