<!DOCTYPE html>
<html>
<head>
<title>{{firstname}} {{name}}</title>
</head>
<body>
<div class="btn-group-vertical" role="group" aria-label="">
    <button type="button" class="btn btn-secondary"> j'aime {{firstname}} {{name}}</button>
 
</div>
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
</body>
</html>
