{% extends 'template.html.twig' %}
{% block body %}
  {% block title %}
    
  {% endblock %}


  {% block PageTitle %}
    Liste des Todo :
  {% endblock %}
    <ol class="list-group">
      {% for name, content in app.session.get('todos') %}
        <li class="list-group-item">{{ name }} : {{ content }}</li>
      {% endfor %}
    </ol>
    {% endblock %}
 