{% extends 'heritage.html.twig' %}

{% block titreDuDocument %}Nouveau Titre{% endblock %}

{% block corpDuDocument %}

    <ol >
        <li>Nouveau Contenu</li>
        <li>J'adore l'héritage dans Twig</li>
        <li>Item 3</li>
    </ol>

{% endblock %}



